/*========== Forms ==========*/

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-light);
}

.form__group input,
.form__group textarea,
.form__group select {
  background: var(--color-dark-light);
  border: 1px solid var(--color-dark-medium);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: var(--color-dark-light);
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #06968a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form__avatar label:hover {
  text-decoration: underline;
}
