/*========== Layout Components ==========*/

/* Layout */
.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout--3 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.layout--2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 24%;
}

/*========== Layout Box ==========*/

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__body {
  margin: 3rem;
}

.layout__body > .form__group {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
