@import 'base.css';

body{
    background-color: var(--color-main-light);
    font-family: 'Raleway', sans-serif;
}

/* Estilos para separar los componentes de Plant Guides y Recent Activities */
.activities {
    margin-bottom: 25px;
    border-radius: 8px;
}

/* Estilos para la columna derecha */
.activities-column {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Aumentado de 30px a 50px para mayor separación */
}

/* Añadir bordes sutiles a los recuadros para mejor separación visual */
.activities-column .activities {
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
}

.guides-banner {
    padding: 15px;
}

.guides-banner h3 {
    color: var(--color-main);
    margin-bottom: 10px;
}

.guides-banner__link {
    display: inline-block;
    margin-top: 10px;
    color: var(--color-main);
    font-weight: 600;
    transition: all 0.3s ease;
}

.guides-banner__link:hover {
    color: var(--color-main);
    transform: translateX(5px);
}