{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}" title="Return to home">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Create 3D Cultivation Model</h3>
        </div>
      </div>

      <div class="layout__body">
        <form class="form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form__group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" placeholder="Enter a title for your 3D model" required />
          </div>

          <div class="form__group">
            <label for="description">Description</label>
            <textarea name="description" id="description" placeholder="Describe your 3D model"></textarea>
          </div>

          <div class="form__group">
            <label for="technique">Cultivation Technique</label>
            <input type="text" name="technique" id="technique" list="technique-list" placeholder="Select a cultivation technique" required autocomplete="off">
            <datalist id="technique-list">
              {% for key, value in form.fields.technique.choices %}
              <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </datalist>
            <small class="form__info">Choose a technique or click one of the options below</small>
            
            <div class="techniques-preview">
              <h4>Technique Types:</h4>
              <div class="techniques-tags">
                {% for key, value in form.fields.technique.choices %}
                <div class="technique-tag" onclick="selectTechnique('{{ key }}')">{{ value }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
          
          <script>
            function selectTechnique(techniqueType) {
              document.getElementById('technique').value = techniqueType;
            }
          </script>

          <div class="form__group form__group--inline">
            <div class="form__field">
              <label for="width">Width (cm)</label>
              <input type="number" name="width" id="width" min="1" max="1000" required placeholder="Width in cm" />
            </div>

            <div class="form__field">
              <label for="height">Height (cm)</label>
              <input type="number" name="height" id="height" min="1" max="1000" required placeholder="Height in cm" />
            </div>

            <div class="form__field">
              <label for="length">Length (cm)</label>
              <input type="number" name="length" id="length" min="1" max="1000" required placeholder="Length in cm" />
            </div>
          </div>

          <div class="form__group">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" list="location-list" placeholder="Select a location" required autocomplete="off">
            <datalist id="location-list">
              {% for key, value in form.fields.location.choices %}
              <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </datalist>
            <small class="form__info">Choose a location or click one of the options below</small>
            
            <div class="location-preview">
              <h4>Locations:</h4>
              <div class="location-tags">
                {% for key, value in form.fields.location.choices %}
                <div class="location-tag" onclick="selectLocation('{{ key }}')">{{ value }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
          
          <script>
            function selectLocation(locationType) {
              document.getElementById('location').value = locationType;
            }
          </script>

          <div class="form__group">
            <label for="materials_description">Materials Description</label>
            <textarea name="materials_description" id="materials_description" placeholder="Describe the materials you want to use (e.g., wood, metal, plastic, etc.)" required></textarea>
          </div>

          <div class="form__group">
            <label for="extra_specifications">Extra Specifications (Optional)</label>
            <textarea name="extra_specifications" id="extra_specifications" placeholder="Add any extra specifications or details you want to include in your 3D model"></textarea>
          </div>

          <div class="form__group">
            <p class="form__info">
              <i class="fa fa-info-circle"></i> After submitting, the system will generate a 3D model based on your specifications. This process may take several minutes.
            </p>
          </div>

          <div class="form__action">
            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
            <button class="btn btn--main" type="submit">Create 3D Model</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}